@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap");

html,body{
margin: 0;  filter: blur(0px);

}

.top-bar {
  position: absolute;
  width: 100%;
  height: 41px;
  left: 0px;
  top: 0px;

  background: #c4c4c4;
}

.Nutzername {
  position: absolute;
  width: fit-content;
  height: 19px;
  left: 1211px;
  top: 11px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.logout svg {
  align-items: center;
  position: absolute;
  margin-left: 1340px;
  margin-top: 9px;
}

.ueberschrift {
  position: absolute;
  width: 393px;
  height: 30px;
  left: 88px;
  top: 101px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;

  color: #000000;
}

.strich {
  position: absolute;
  width: 173px;
  height: 0px;
  left: 88px;
  top: 141px;

  border: 2px solid #cc6969;
}

.mitglied-hinzufuegen {
  position: absolute;
  width: 196px;
  height: 38px;
  left: 92px;
  top: 181px;
  color: white;
  border: none;
  background: #cc6969;
}
.hinzufuegen-button {
  text-decoration: none;
  color: white;
  font-family: "Heebo";
  margin-bottom: 30px;
}
.mitglied-hinzufuegen:hover{
  cursor: pointer;
}

.Freitextsuche {
  box-sizing: border-box;

  position: absolute;
  width: 177px;
  height: 39px;
  left: 1169px;
  top: 181px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}
.table-div{


}
.styled-table {
  position: absolute;
  display: block;
  top: 2px;
  overflow-y: scroll;
  height: 516px;
  top: 27%;
  left: 92px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table {
  display: block;
  z-index: 0;
}
.styled-table thead tr {
  position: fixed;
  background-color: #cc6969;
  color: #ffffff;
  text-align: left;
}


.styled-table th,
.styled-table td {
  padding: 12px 15px;
  width: 149.5px;
  align-content: flex-start;
  letter-spacing: 0.5px;
}

.styled-table td :hover{
  cursor: pointer;
}



.table-aktionen {
  width: 10px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: thin solid #cc6969;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #cc6969;
}
.table-edit:hover{
cursor: pointer;
}

.bottom-bar {
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 4vh;
  left: 0px;
  top: 96vh;
  background: #cc6969;
  text-align: center;
}

.bottom-text {
  justify-content: center;
  padding-top: 0.6rem;
  font-family: "Heebo";
  color: white;
}

#add-div{
  display: none;
}

.edit-div {
display: none;
  position: absolute;
  width: 862px;
  height: 505px;
  left: 289px;
  top: 220px;

  background: #ffffff;
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  z-index: 3;


}

.edit-header {
  position: absolute;
  width: 361px;
  height: 30px;
  left: 34px;
  top: 48px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;

  color: #000000;
}

.edit-underline {
  position: absolute;
  width: 133.5px;
  height: 0px;
  left: 34px;
  top: 88px;

  border: 2px solid #cc6969;
}

.name-label {
  position: absolute;
  width: 76px;
  height: 24px;
  left: 34px;
  top: 130px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#name {
  box-sizing: border-box;

  position: absolute;
  width: 381px;
  height: 39px;
  left: 34px;
  top: 164px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.lastname-label {
  position: absolute;
  width: 89px;
  height: 24px;
  left: 446px;
  top: 128px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#lastname {
  box-sizing: border-box;

  position: absolute;
  width: 381px;
  height: 39px;
  left: 446px;
  top: 162px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.plz-label {
  position: absolute;
  width: 40px;
  height: 24px;
  left: 34px;
  top: 223px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#plz {
  box-sizing: border-box;

  position: absolute;
  width: 381px;
  height: 39px;
  left: 34px;
  top: 257px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.ort-label {
  position: absolute;
  width: 33px;
  height: 24px;
  left: 446px;
  top: 223px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#ort {
  box-sizing: border-box;

  position: absolute;
  width: 381px;
  height: 39px;
  left: 446px;
  top: 257px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.geschlecht-label {
  position: absolute;
  width: 91px;
  height: 24px;
  left: 34px;
  top: 316px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#geschlecht {
  box-sizing: border-box;

  position: absolute;
  width: 381px;
  height: 39px;
  left: 34px;
  top: 350px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}


.sportarten-label {
  position: absolute;
  width: 87px;
  height: 24px;
  left: 446px;
  top: 316px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#sportarten {
  box-sizing: border-box;

  position: absolute;
  width: 381px;
  height: 39px;
  left: 446px;
  top: 350px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.add-member {
  position: absolute;
  width: 381px;
  height: 39px;
  left: 446px;
  top: 419px;

  background: #b45b5b;
  border-radius: 5px;
}

.add-text:hover{
  cursor: pointer;
}

.add-text {
  height: 38px;
  position: relative;
  left: 135px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #b45b5b;
  border: none;
  color: #ffffff;
}

.add-member :hover{
  cursor: pointer;
}

.delete-message-div{
  display: none;
  width: 300px;
  height: 250px;
  position: absolute;
  background-color: white;
  border-radius: 15px;
}