
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap');


html,body{
    width: 100%;
}

.top-bar{
    position: absolute;
width: 100%;
height: 41px;
left: 0px;
top: 0px;

background: #C4C4C4;
}

.mitgliederverwaltungsprogramm{
    position: absolute;
width: 213px;
height: 21px;
left: 91px;
top: 10px;

font-family: 'Heebo';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.25px;

color: #000000;
}